 <!-- 使用者登入後主畫面-->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Pet伴，陪伴</title>  <!-- 改 （主題名）-->
     <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
     <link rel="stylesheet" href="/stylesheets/css/all.min.css">
     <link rel="stylesheet" href="/stylesheets/css/templatemo-style.css">

     <style>
        .dropdown:hover .dropdown-menu{
            display: block;
        }
        .dropdown-menu{
            margin-top: 0;
            background-color: #DBC89B;
        }
        .dropdown-item{
            background-color: #DBC89B;
            color: #FFFEFB;
        }
        .collapse {
            color: #A88E4F;
        }
        *{
            box-sizing: border-box;
        }
        body{
            font-family: 'Poppins', sans-serif;
        }
        .wrap{
            width: 900px;
            margin: 10px auto;
            /* 10上下 auto左右 */
        }
        .card1{
            color: azure;
            font-weight: 800;
            /* font-weight 粗度 */
            font-size: 100px;
            text-shadow: 6px -5px 4px rgb(107, 222, 211);
            /* x軸 y軸 暈開 顏色 */
            width: 900px;
            height: 500px;
            margin-bottom: 16px;
            padding: 150px 0 0 20px;
            /* 把文字往下擠 往右幾 */
            background-image: url(img/img-22.jpg);
            background-size: cover;
            border-radius: 16px;
            }
        .card2{
            width: 200px;
            background-color: rgb(255, 232, 188);
            border-radius: 16px;
            overflow: hidden;
        }
        .card2-image{
            color: gainsboro;
            font-size: 30px;
            font-weight: 800;
            width: 100%;
            height: 150px;
            padding: 110px 0 0 20px;
            background-size: cover;
        }
        .card2-text{
            font-size: 13px;
            line-height: 180%;
            padding: 16px;
        }
        div.FOOD .card2-image{
            background-image: url(img/img-17.jpg);
        }
        div.people .card2-image{
            background-image: url(img/img-18.jpg);
        }
        div.man .card2-image{
            background-image: url(img/img-19.jpg);
        }
        div.dog .card2-image{
            background-image: url(img/img-20.jpg);
        }
        section{
            display: flex;
            gap: 10px;
        }
    </style>
    <script>
        $(document).ready(function(){
            $(".dropdown").hover(function(){
                var dropdownMenu = $(this).children(".dropdown-menu");
                if(dropdownMenu.is(":visible")){
                    dropdownMenu.parent().toggleClass("open");
                }
            });
        });     
        </script>
 
 </head>
 <body>
     <!-- Page Loader -->
     <div id="loader-wrapper">
         <div id="loader"></div>
 
         <div class="loader-section section-left"></div>
         <div class="loader-section section-right"></div>
 
     </div>
     <!--navbar -->
     <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <div class="nav">
                <a class="navbar-brand" href="/">
                    <i class="fas fa-film mr-2"></i>
                    Pet伴，陪伴
                </a>
                <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav">
                            <div class="nav-item dropdown">
                                <a class="nav-link"  href="/user_login" role="button" aria-expanded="false">登入</a>
                            </div>
                            <div class="nav-item dropdown"></div>
                                <a class="nav-link"  href="/user_add_form" role="button" aria-expanded="false">註冊</a>
                            </div>    
                        </div>
                    </div>
                </nav>
            </div>        
        </div>
    </nav>




    <div class="wrap">
        <div class="card1">
            
        </div>
    <section>
        <div class="card2 FOOD">
            <div class="card2-image">
                
            </div>
            <div class="card2-text">
                用生活中各種角度去陪伴毛小孩的生活，透過寵物專屬論壇，互相討論、分享並且了解毛小孩，讓我們因此感受到多種「愛」與「幸福」的人生。 
            </div>
        </div>
        <div class="card2 people">
            <div class="card2-image">
                
            </div>
            <div class="card2-text">
                “等待與陪伴，是毛孩對人的愛”<br>
                “我以為我養了一條狗，後來我發現，我多了一個家人。”<br>
                “毛孩，是你人生中的一部分。而你，卻是牠的一輩子。”
 
            </div>
        </div>
        <div class="card2 man">
            <div class="card2-image">
                Who?
            </div>
            <div class="card2-text">
                2022年12月由四個北商資管學生創立，因為家中都有飼養寵物，因此期望從自身經驗，散播我們的想法，與大家共享經驗、互相切磋，讓我們能夠更瞭解毛孩，與毛孩之間的距離更近一步。
            </div>
        </div>
        <div class="card2 dog">
            <div class="card2-image">
                Why?
            </div>
            <div class="card2-text">
                目前市面上沒有『一站式』的寵物網站，論壇就是論壇，食譜就是食譜，我們想將所有有關寵物的資訊集合，讓各位鏟屎官們能在同一個網站中得到所有的解答。 
            </div>
        </div>
    </section>
    </div>
   <!-- <img src="img/about us 01.png" height="1200" style="float: left;  display:block; margin:50px;" />
       
    <img src="img/about us 02.png" height="1200" style="display:block; margin:50px;" />
    -->




     <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
        <div class="container-fluid tm-container-small">
           <div class="row">
                <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                    <h3 class="tm-text-primary mb-4 tm-footer-title">關於我們</h3>
                    <p> “等待與陪伴，是毛孩對人的愛。”</br>
                        “我以為我養了一條狗，後來我發現，我多了一個家人。”</br>
                        “毛孩，是你人生中的一部分。而你，卻是牠的一辈子。”</br></br>
                        「Pet伴，陪伴」用生活中各種角度去陪伴毛小孩的生活，透過寵物專屬論壇，互相討論、分享並且了解毛小孩，讓我們因此感受到多種「愛」與「幸福」的人生。
                        </p>
                </div>
                <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                   <h3 class="tm-text-primary mb-4 tm-footer-title">聯繫資訊</h3>
                   <ul class="tm-footer-links pl-0">
                       <li><a href="#">02-33222777</a></li>
                       <li><a href="mailto:petweb21233537@gmail.com">petweb21233537@gmail.com</a></li>
                       <li><a href="https://goo.gl/maps/MRCrfD6nzR4BMeAo6">100臺北市中正區濟南路一段321號</a></li>
                       <br/>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.769469250987!2d121.52342931508505!3d25.04189634412865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a970a11a84ad%3A0x58e05f2528812097!2z5ZyL56uL6Ie65YyX5ZWG5qWt5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1677909617368!5m2!1szh-TW!2stw" width="300" height="200"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                   </ul>
                </div>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                    
           </div> <!-- 可修改 -->
                <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
                    Designed by <a href="＃" class="tm-text-gray" rel="sponsored" target="_parent">Pet伴，陪伴</a>
                </div> <!-- 可修改 -->
            </div>
        </div>

         </div>
     </footer>
     <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
     <script src="/javascript/js/plugins.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
     <script>
         $(window).on("load", function() {
             $('body').addClass('loaded');
         });
     </script>
 </body>
 </html>