 <!-- 走失版-->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>112207</title>  <!-- 改 （主題名）-->
     <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
     <link rel="stylesheet" href="/stylesheets/css/all.min.css">
     <link rel="stylesheet" href="/stylesheets/css/templatemo-style.css">
 <!--
     m
 TemplateMo 556 Catalog-Z
 
 https://templatemo.com/tm-556-catalog-z
 
 -->
 </head>
 <body>
     <!-- Page Loader -->
     <div id="loader-wrapper">
         <div id="loader"></div>
 
         <div class="loader-section section-left"></div>
         <div class="loader-section section-right"></div>
 
     </div>


    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/main">
                <i class="fas fa-film mr-2"></i>
                Pet伴，陪伴
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item"> 
                    <a class="nav-link nav-link-1"  href="/main">主頁</a> <!--aria-current="page"-->
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="/cook_kan">食譜</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="/medical_kan">醫療</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4 active" href="/lost_kan">走失</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" href="/shopping_kan">揪團購</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="＃">旅遊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" href="＃">個人檔案</a><!-- 改 （放人頭圖片）-->
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="/user_logout">登出</a><!-- 改 （放人頭圖片）-->
                </li>
            </ul>
            </div>
        </div>
    </nav>

    
    <!-- 搜尋的地方
    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="img/hero.jpg">
        <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i> 
            </button>
        </form>
    </div>-->

    <!-- loading轉圈的畫面-->
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
     <script src="/javascript/js/plugins.js"></script>
     <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>