 <!-- 使用者登入後主畫面-->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Pet伴，陪伴</title>  <!-- 改 （主題名）-->
     <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
     <link rel="stylesheet" href="/stylesheets/css/all.min.css">
     <link rel="stylesheet" href="/stylesheets/css/templatemo-style.css">

     <style>
        .dropdown:hover .dropdown-menu{
            display: block;
        }
        .dropdown-menu{
            margin-top: 0;
            background-color: #DBC89B;
        }
        .dropdown-item{
            background-color: #DBC89B;
            color: #FFFEFB;
        }
        .collapse {
            color: #A88E4F;
        }
    
    </style>
    <script>
        $(document).ready(function(){
            $(".dropdown").hover(function(){
                var dropdownMenu = $(this).children(".dropdown-menu");
                if(dropdownMenu.is(":visible")){
                    dropdownMenu.parent().toggleClass("open");
                }
            });
        });     
        </script>
 
 </head>
 <body>
     <!-- Page Loader -->
     <div id="loader-wrapper">
         <div id="loader"></div>
 
         <div class="loader-section section-left"></div>
         <div class="loader-section section-right"></div>
 
     </div>
     <!-- navbar-->
     <%- include('navbar/navbar.ejs') %>

   
     <!-- navbar end -->
   
     </div>

                    <div class="container-fluid tm-container-content tm-mt-60">
                        <div class="row mb-4">
                            <h2 class="col-6 tm-text-primary">
                                Welcome to~Pet伴，陪伴
                            </h2>
                        </div>
                            
                            <!-- 食譜看板按鈕-->
                        <div class="row tm-mb-90 tm-gallery">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                                <figure class="effect-ming tm-video-item">
                                    <img src="img/new10.jpg" alt="Image" class="img-fluid">
                                    <figcaption class="d-flex align-items-center justify-content-center">
                                        <h2>食譜</h2>
                                        <a href="/cook_kan_cooked">View more</a> <!-- 不知道 View more在哪裏-->
                                    </figcaption>                    
                                </figure>
                            </div>
                            <!--醫療看板按鈕-->
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                                <figure class="effect-ming tm-video-item">
                                    <img src="img/new09.jpg" alt="Image" class="img-fluid">
                                    <figcaption class="d-flex align-items-center justify-content-center">
                                        <h2>醫療</h2>
                                        <a href="/medical_kan_mouth">View more</a> <!-- 不知道 View more在哪裏-->
                                    </figcaption>                    
                                </figure>
                            <!-- 走失看板按鈕-->
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                                <figure class="effect-ming tm-video-item">
                                    <img src="img/new11.jpg" alt="Image" class="img-fluid">
                                    <figcaption class="d-flex align-items-center justify-content-center">
                                        <h2>走失</h2>
                                        <a href="/lost_picked">View more</a> <!-- 不知道 View more在哪裏-->
                                    </figcaption>                    
                                </figure>
                            </div>
                            <!-- 旅遊看板按鈕-->
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                                <figure class="effect-ming tm-video-item">
                                    <img src="img/new08.jpg" alt="Image" class="img-fluid">
                                    <figcaption class="d-flex align-items-center justify-content-center">
                                        <h2>旅遊</h2>
                                        <a href="/tra_restaurant">View more</a> <!-- 不知道 View more在哪裏-->
                                    </figcaption>                    
                                </figure>
                            </div>  
                    </div> 
    
      <body>
        
    <!-- <p class="text-center"></p>
    <img class="img-maxwidth"
        src="img/img-22.jpg"
        alt="圖片寬度使用 max-width">-->
    <hr>
    
        </body>
    
       <!--footer -->
       <%- include('navbar/footer.ejs') %>

     <!--footer end-->
     <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
     <script src="/javascript/js/plugins.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
     <script>
         $(window).on("load", function() {
             $('body').addClass('loaded');
         });
     </script>
 </body>
 </html>