<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Activate Bootstrap Dropdown with Hover</title>

<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/css/templatemo-style.css">
<style>
    .dropdown:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
        background-color: #DBC89B;
    }
    .dropdown-item{
        background-color: #DBC89B;
        color: #FFFEFB;
    }
    .collapse {
        color: #A88E4F;
    }

</style>
<script>
$(document).ready(function(){
    $(".dropdown").hover(function(){
        var dropdownMenu = $(this).children(".dropdown-menu");
        if(dropdownMenu.is(":visible")){
            dropdownMenu.parent().toggleClass("open");
        }
    });
});     
</script>
</head>
<div class="nav">
    <a class="navbar-brand" href="/">
        <i class="fas fa-film mr-2"></i>
        Pet伴，陪伴，測試資料
    </a>
    <!-- navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a href="cook_kan" class="nav-link" data-toggle="dropdown">食譜版</a>
                    <div class="dropdown-menu">
                        <a href="cook_kan_rare" class="dropdown-item">生食</a>
                        <a href="cook_kan_deil" class="dropdown-item">熟食</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    <!-- 文章部分-->

<body>
    <!--游標清單外掛-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</html>