 <!-- 使用者註冊畫面（輸入個人資料） -->
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet伴，陪伴</title>  <!-- 改 （主題名）-->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/css/templatemo-style.css">
    <!-- navbar 下拉選單樣式-->
     <style>
         .dropdown:hover .dropdown-menu{
            display: block;
        }
        .dropdown-menu{
            margin-top: 0;
            background-color: #DBC89B;
        }
        .dropdown-item{
            background-color: #DBC89B;
            color: #FFFEFB;
        }
        .collapse {
            color: #A88E4F;
        }

    </style> 

</head>
 <body>
     <!-- Page Loader -->
     <div id="loader-wrapper">
         <div id="loader"></div>
 
         <div class="loader-section section-left"></div>
         <div class="loader-section section-right"></div>
 
     </div>
     <nav class="navbar navbar-expand-lg">
        <div class="nav">
            <a class="navbar-brand" href="/">
                <i class="fas fa-film mr-2"></i>
                Pet伴，陪伴
            </a>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <div class="nav-item dropdown">
                            <a href="/user_login" class="nav-link" data-toggle="dropdown">登入</a> 
                        </div>
                        <div class="nav-item dropdown"></div>
                            <a href="/user_add_form" class="nav-link" data-toggle="dropdown">註冊</a>
                        </div>    
                       
                    </div>
                </div>
            </nav>
             </div>
         </div>
     </nav>
 
     <section id="main">
        <div class="container">
            <div class="box-user">
                <span class="line"></span>
                <span class="text">
                    <div class="send-message">
                        <div class="section-heading">
                            <h2>註冊新帳號</h2>
                        </div>

                        <div class="col-md-8">
                            <div class="contact-form">
                                <form action="/user_add_form" method="post">
                                    <div class="form">
                                        <div class="form">
                                          
                                            <span class="name">帳號</span>
                                            <span class="value"><input type="text" class="form-control" name="email"
                                                    placeholder="請輸入您的電子郵件位址，或使用google帳號註冊"></span>
                                            <br />
                                            <span class="name">密碼 </span>
                                            <span class="value"><input type="password" class="form-control"
                                                    name="password" required=""></span>
                                            <br />
                                            <span class="name">生日</span>
                                            <input name="birthday" type="date" class="form-control" id="birthday"
                                                placeholder="生日" required="">
                                            <br />
                                            <span class="name">暱稱</span>
                                            <span class="value"><input type="text" class="form-control"
                                                    name="name" required=""></span>
                                            <br />
                                            <span class="name"></span>
                                            <span class="value"><input type="submit" value="確認"></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            </form>
                        </div>
                    </div>
            </div>
            </span>
        </div>
    </section>
     
     <div class="container-fluid tm-container-content tm-mt-60">
         <!--<div class="row mb-4">
             <h2 class="col-6 tm-text-primary">
                 登入／註冊
             </h2>
             <div class="col-6 d-flex justify-content-end align-items-center">
                 <form action="" class="tm-text-primary">
                     Page <input type="text" value="1" size="1" class="tm-input-paging tm-text-primary"> of 200
                 </form>
             </div>
         </div>-->
         
         <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
            <div class="container-fluid tm-container-small">
               <div class="row">
                    <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                        <h3 class="tm-text-primary mb-4 tm-footer-title">關於我們</h3>
                        <p> “等待與陪伴，是毛孩對人的愛。”</br>
                            “我以為我養了一條狗，後來我發現，我多了一個家人。”</br>
                            “毛孩，是你人生中的一部分。而你，卻是牠的一辈子。”</br></br>
                            「Pet伴，陪伴」用生活中各種角度去陪伴毛小孩的生活，透過寵物專屬論壇，互相討論、分享並且了解毛小孩，讓我們因此感受到多種「愛」與「幸福」的人生。
                            </p>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                       <h3 class="tm-text-primary mb-4 tm-footer-title">聯繫資訊</h3>
                       <ul class="tm-footer-links pl-0">
                           <li><a href="#">02-33222777</a></li>
                           <li><a href="mailto:petweb21233537@gmail.com">petweb21233537@gmail.com</a></li>
                           <li><a href="https://goo.gl/maps/MRCrfD6nzR4BMeAo6">100臺北市中正區濟南路一段321號</a></li>
                           <br/>
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.769469250987!2d121.52342931508505!3d25.04189634412865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a970a11a84ad%3A0x58e05f2528812097!2z5ZyL56uL6Ie65YyX5ZWG5qWt5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1677909617368!5m2!1szh-TW!2stw" width="300" height="200"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                       </ul>
                    </div>
               </div>
           </div>
           <div class="row">
               <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                        <!-- 可修改Copyright 2020 Catalog-Z Company. All rights reserved.-->
               </div> <!-- 可修改 -->
                    <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
                        Designed by <a href="＃" class="tm-text-gray" rel="sponsored" target="_parent">Pet伴，陪伴</a>
                    </div> <!-- 可修改 -->
                </div>
            </div>
            
         </div>
     </footer>
     <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
     <script src="/javascript/js/plugins.js"></script>
     <script>
         $(window).on("load", function() {
             $('body').addClass('loaded');
         });
     </script>
 </body>
 </html>