 <!-- 使用者登出後畫面-->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Pet伴，陪伴</title>  <!-- 改 （主題名）-->
     <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
     <link rel="stylesheet" href="/stylesheets/css/all.min.css">
     <link rel="stylesheet" href="/stylesheets/css/templatemo-style.css">
 <!--
     m
 TemplateMo 556 Catalog-Z
 
 https://templatemo.com/tm-556-catalog-z
 
 -->
 </head>
 <body>
     <!-- Page Loader -->
     <div id="loader-wrapper">
         <div id="loader"></div>
 
         <div class="loader-section section-left"></div>
         <div class="loader-section section-right"></div>
 
     </div>


    <!-- navbar-->
    <%- include('navbar/navbar1') %>

 <!-- navbar end -->
 <div class="container-fluid tm-container-content tm-mt-60">

            <marquee direction="right" height="50" scrollamount="5" behavior="alternate" style="font-weight: 800; font-size: 30px;">您已成功登出！再次登入請按上方登入</marquee>
            <p class="text-center"></p>
            <img class="img-maxwidth"
                src="img/img-22.jpg"
                alt="圖片寬度使用 max-width">
            <hr>
    
    <%- include('navbar/Footer') %>
    
    <!-- loading轉圈的畫面-->
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
     <script src="/javascript/js/plugins.js"></script>
     <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
