<!-- 使用者登出後畫面-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet伴，陪伴</title> <!-- 改 （主題名）-->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/css/templatemo-style.css">
    <!--
     m
 TemplateMo 556 Catalog-Z
 
 https://templatemo.com/tm-556-catalog-z
 
 -->
</head>

<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>


    <!-- navbar-->
    <%- include('navbar/navbar1') %>
        <div>
            <h1>註冊失敗，請重新註冊</h1>

            <!-- loading轉圈的畫面-->
            <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
            <script src="/javascript/js/plugins.js"></script>
            <script>
                $(window).on("load", function () {
                    $('body').addClass('loaded');
                });
            </script>
            <DIV>
                <%- include('navbar/Footer') %>
            </DIV>
        </div>
</body>