<!--footer -->
<footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
    <div class="container-fluid tm-container-small">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">關於我們</h3>
                <p style="text-align: left;"> “等待與陪伴，是毛孩對人的愛。”

                <div></div>
                “我以為我養了一條狗，後來我發現，我多了一個家人。”<br><br>
                <div></div>
                “毛孩，是你人生中的一部分。而你，卻是牠的一辈子。”<br><br>
                <div></div>
                「Pet伴，陪伴」用生活中各種角度去陪伴毛小孩的生活，透過寵物專屬論壇，互相討論、分享並且了解毛小孩，讓我們因此感受到多種「愛」與「幸福」的人生。
                </p>
            </div>
            <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">聯繫資訊</h3>
                <ul class="tm-footer-links pl-0">
                    <li><a href="#">02-33222777</a></li>
                    <li><a href="mailto:petweb21233537@gmail.com">petweb21233537@gmail.com</a></li>
                    <li><a href="https://goo.gl/maps/MRCrfD6nzR4BMeAo6">100臺北市中正區濟南路一段321號</a></li>
                    <br />
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.769469250987!2d121.52342931508505!3d25.04189634412865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a970a11a84ad%3A0x58e05f2528812097!2z5ZyL56uL6Ie65YyX5ZWG5qWt5aSn5a24!5e0!3m2!1szh-TW!2stw!4v1677909617368!5m2!1szh-TW!2stw"
                        width="300" height="200" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
            <!-- 可修改Copyright 2020 Catalog-Z Company. All rights reserved.-->
        </div> <!-- 可修改 -->
        <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
            Designed by <a href="＃" class="tm-text-gray" rel="sponsored" target="_parent">Pet伴，陪伴</a>
        </div> <!-- 可修改 -->
    </div>
    </div>
</footer>
<!--footer end-->